# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Terraform plans
*.tfplan
tfplan

# Variable files may contain secrets
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# Crash logs
crash.log
crash.*.log

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
